<h1>Home#index</h1>
 <div>
  <input id="show-listings" type="button" value="Show Listings">
  <input id="hide-listings" type="button" value="Hide Listings">
</div>
<div id="map"></div>
<p>Find me in app/views/home/index.html.erb</p>
